<%= form_for Instructor.new do |f| %>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
    <%= f.label :bio, 'Bio' %>
    <%= f.text_area :bio %>
    <%= f.label :profile_picture, "Foto" %>
    <%= f.file_field :profile_picture %>
    <%= f.submit 'Criar Instrutor' %>
<% end %>

<p><%= link_to "Voltar", instructors_path %></p>